body {
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.p-hero {
    color: gray;
}

.h1-hero {
    color: white;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button {
    color: white;
    background-color: #ce1212;
    border-radius: 5px;
  
    width: 178px;
    height: 42px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.div-hero {
    width: 400px;
}